.slider {
    overflow: hidden;
    display: block;
    position: relative;
}

.slider.is-first .slider__button--previous {
    display: none;
}

.slider.is-last .slider__button--next {
    display: none;
}

.slides-container {
    transition: transform 0.4s ease;
}

.slides-container::after {
    content: '';
    display: block;
    clear: left;
}

.slide {
    display: block;
    float: left;
}

.slider__button--previous,
.slider__button--next {
    position: absolute;
    z-index: 100;
    top: 50%;
}

.slider__button--previous {
    left: 5px;
}

.slider__button--next {
    right: 5px;
}
